.footer {
  color: black;
  background: #eaf0ef;
}

.footer-message {
  background: #c0ded8;
  padding: 32px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.footer-message h2 {
  margin: 0;
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.footer-appointment-btn {
  background: #d13c7a;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 12px 60px;
  font-size: 1.5em;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}

.footer-appointment-btn:hover {
  background: #005c4b;
}

.footer-content {
  background: #eaf0ef;
  padding: 60px 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 0px;
  overflow-x: hidden;
}

.footer-locations {
  grid-column: 1 / 2;
  justify-self: start;
  display: flex;
  flex-direction: column;
  gap: 0px;
  text-align: left;
}

.footer-location {
  font-size: 1.5em;
}

.footer-location-name {
  font-weight: 600;
  font-size: 1.5em;
}

.footer-center {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: start;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0px;
}

.footer-menu a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 500;
  transition: color 0.2s;
  text-align: right;
}

.footer-menu a:hover {
  color: #d13c7a;
}

.footer-logo img {
  margin-top: 0px;
  width: 100vw;
  max-width: none;
  height: auto;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1300px) {
  .footer-logo img {
    margin-top: 10px;
    width: 100vw;
  }

  .footer-location {
    font-size: 12px;
  }

  .footer-location-name {
    font-size: 12px;
  }

  .footer-menu a {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .footer-message {
    flex-direction: column;
    gap: 0px;
    text-align: center;
  }

  .footer-message h2 {
    font-size: 1.2em;
  }

  .footer-content {
    gap: 0px;
    padding: 50px 24px 0 24px;
  }

  .footer-locations {
    justify-self: start;
    text-align: left;
  }

  .footer-center {
    justify-self: end;
    align-items: flex-end;
  }

  .footer-menu {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }

  .footer-menu a {
    text-align: right;
  }

  .footer-logo img {
    width: 100vw;
  }
}

