.logo-and-review-wrapper {
    position: relative;
    padding-bottom: 40px; 
    margin-bottom: 15px;
}

#google-reviews-display {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    color: black;
    font-size: 20px;
    font-weight: 300;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    white-space: nowrap;
}

@media (min-width: 1400px) {
    #google-reviews-display {
        left: 27%;
        transform: none; 
        font-size: 20px;
    }
}

#google-reviews-display .fa-star {
    color: #f1c40f;
    margin-right: 5px;
}